.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 6rem;

    margin-bottom: 2rem;
}

.header span {
    color: var(--blue);
    font-weight: bold;
}

.header span::after {
    content: '44';
    padding: 5px;
    margin-left: 5px;
    background-color: var(--gray-400);
    color: var(--gray-200);
    font-size: 0.75rem;
    font-weight: lighter;
    border-radius: 50%;
}

.header span:last-child{
    color: var(--purple);
}
